*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
/*  MODAL RULES  */
.modal {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: navy;
    padding: 20px;
    padding-right: 80px;
    border-radius: 20px;

}

.relativePosition {
    position: relative;
}

.absoluteLeft{
position: absolute;
left: 0%;
width: 80%;
}

.absoluteRight{
position:absolute;
right: 0%;
width: 20%;

}

.circleBorder{
  border-radius: 50%;
border-color: white;  
padding: 10px;
}


.yellowText {
    color:yellow;
}
.fa-angle-right{
color:white;
position:absolute;
right:-75px;
top: 20px;
}
.whiteText {
    color: white;
}



.navList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.navList :hover {
    cursor: pointer;
}
/* rules for top nav element */

@media (min-width: 1000px){
.navList{
    list-style: none;
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   padding: 20px;
}

}


.fa-magnifying-glass{
color: navy;
}

.navyBox {
    background-color: navy;
    display: relative;
    height: 320px;
    width: 100vw;
    z-index: -1;
}

.schwab {
    z-index: 5;
}

/* text over the navy box */
.investingFlex{
    position: absolute;
    top: 300px;
    color: white;
}

.investingLeft {
    position: absolute;
    left: 20%;
}

.investingRight {
    position: absolute;
    right: 80%;
}

/* footer rules */
.boldUnderLine {
    border-bottom: 2px solid black;
    /*text-decoration: solid underline 2px black; */
    
    font-weight: bold;
}


.footerGrid{
    display: grid;
    text-decoration: none;
    grid-template-columns: 3;
    grid-template-rows: 9;
}